@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Serif+Oriya:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    background-color: #155263;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.desc{
    font-family: "Noto Serif Oriya", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.box1{
    height: 50px;
    width: 150px;
    background-color: #c66912;
    position: relative;
    left: 44%;
    border-radius: 5px;
    padding-top: 10px;
    color: white;
}

.beach-vdo {
    width: 90%;
    height: 600px;
    border-radius: 100%;
    margin-top: 50px;
    position: relative;
    bottom: 50%;
    object-fit: cover; /* Ensures video scales properly */
   
}

.img img{
    border-radius: 20px;
}




